config ICMP
	bool "Enable the Inter-Core Message Protocol"
	default n
	select CRC
	help
	  This option enables the 'ICMP' library.

config ICMP_MAX_PAYLOAD_SIZE
	int "Maximum payload size for ICMP messages"
	default 64
	depends on ICMP
	help
	  This value represents the maximum payload size for ICMP messages. It
	  should be tuned according to the maximum expected payload size to
	  reduce the memory footprint of the ICMP module.

config ICMP_MAX_MEM_SLAB_FRAMES
	int "Maximum number of ICMP frames allowed on the memory slab"
	depends on ICMP
	default 8
	help
	  Memory slab blocks are used to store the in-flight ICMP frames. This
	  Kconfig variable sets the upper limit on the number of in-flight
	  frames allowed within the ICMP server. The chosen value should be
	  tuned to balance performance and memory overhead.

config ICMP_MAX_TARGETS
	int "Maximum number of ICMP targets allowed in the dispatch table."
	depends on ICMP
	default 5

config ICMP_THREAD_STACK_SIZE
	int "The size of the ICMP thread's stack."
	depends on ICMP
	default 1024

config ICMP_THREAD_PRIORITY
	int "The priority of the ICMP thread."
	depends on ICMP
	default 5

choice ICMP_MAX_INFLIGHT_MSGS
	prompt "Select ICMP maximum inflight messages"
	depends on ICMP
	default ICMP_MAX_INFLIGHT_MSGS_8

config ICMP_MAX_INFLIGHT_MSGS_8
	bool "8"
	help
	  Select 8 maximum inflight messages for the ICMP server.

config ICMP_MAX_INFLIGHT_MSGS_16
	bool "16"
	help
	  Select 16 maximum inflight messages for the ICMP server.

config ICMP_MAX_INFLIGHT_MSGS_32
	bool "32"
	help
	  Select 32 maximum inflight messages for the ICMP server.

endchoice # ICMP_MAX_INFLIGHT_MSGS

config ICMP_MAX_INFLIGHT_MSG_AGE
	int "Set the maximum age of all inflight messages in milliseconds."
	depends on ICMP
	default 1000
	help
	  Set the maximum age of all inflight messages in milliseconds. If an
	  inflight message's age reaches this value before a response is
	  received, the message will be dropped. The msg_id for this message
	  will be invalidated and future message will be dropped. ICMP hosts
	  are expected to reply within this time period. If no response is
	  received, the command issuer should retry.

config ICMP_INFLIGHT_TIMEOUT_CHECK_PERIOD
	int "Set the frequency of timeout checking within ICMP."
	depends on ICMP
	default 300
	help
	  ICMP periodically checks for inflight message timeouts. This Kconfig
	  determines the period of this check. The value should not be too
	  small to avoid polluting the system workqueue and locking the
	  inflight mutex.

config ICMP_TESTING
	bool "Enable special unit testing functions."
	depends on ICMP
	default n
	help
	  This Kconfig includes additonal functions for testing purposes in the
	  build. This value must be disable for production builds.

config ICMP_PHY_UART
	bool "Enable the ICMP UART PHY"
	default n
	depends on ICMP
	select SERIAL
	select UART_ASYNC_API
	help
	  This option enables the ICMP UART PHY backend.

module = ICMP
module-str = ICMP
source "subsys/logging/Kconfig.template.log_config"
