If:
  PathMatch: ^cores/control/.*

CompileFlags:
  CompilationDatabase: ./cores/control/build/control

---

If:
  PathMatch: ^cores/interface/.*

CompileFlags:
  CompilationDatabase: ./cores/interface/build/interface

---

If:
  PathMatch: ^lib/.*

CompileFlags:
  CompilationDatabase: ./cores/control/build/control
