If:
  PathMatch: ^cores/control/.*

CompileFlags:
  CompilationDatabase: ./cores/control/build/control

---

If:
  PathMatch: ^cores/interface/.*

CompileFlags:
  CompilationDatabase: ./cores/interface/build/interface

---

If:
  PathMatch: .*lib/icmp/.*

CompileFlags:
  CompilationDatabase: ./twister-out-lib/native_sim/icmp/unit/lib.icmp.unit

---

If:
  PathMatch: ^boards/skwort/sense_core/.*

CompileFlags:
  CompilationDatabase: ./cores/control/build/control
