#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "GNSS Settings"

config APP_USE_GNSS
	bool "Enable the GNSS module."
	default "y"

config APP_GNSS_DEFAULT_FIX_INTERVAL
	int "Fix interval for periodic fixes"
	range 10 65535
	default 120
	help
	  Fix interval (in seconds) for periodic fixes.

config APP_GNSS_DEFAULT_PERIODIC_TIMEOUT
	int "Fix timeout for periodic fixes"
	range 0 65535
	default 60
	help
	  Fix timeout (in seconds) for periodic fixes.
	  If set to zero, GNSS is allowed to run indefinitely until a valid PVT estimate is produced.

module = APP_GNSS
module-str = Control core GNSS module
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endmenu
