menu "Heartbeat Library"

rsource "heartbeat/Kconfig"

endmenu

menu "ICMP Library"

rsource "icmp/Kconfig"

endmenu

menu "Cellular Library"

rsource "cellular/Kconfig"

endmenu

menu "CoAP Helper Library"

rsource "coap/Kconfig"

endmenu
