config BOARD_SENSE_CORE
	select SOC_NRF9161_LACA        if BOARD_SENSE_CORE_NRF9161
	select SOC_NRF9161_LACA        if BOARD_SENSE_CORE_NRF9161_NS
	select SOC_NRF5340_CPUAPP_QKAA if BOARD_SENSE_CORE_NRF5340_CPUAPP
	select SOC_NRF5340_CPUAPP_QKAA if BOARD_SENSE_CORE_NRF5340_CPUAPP_NS
	select SOC_NRF5340_CPUNET_QKAA if BOARD_SENSE_CORE_NRF5340_CPUNET
