/*
 * Copyright (c) 2019-2020 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include "sense_core_nrf5340_common.dtsi"
#include "sense_core_nrf5340_cpuapp_common-pinctrl.dtsi"

/ {
	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,bt-hci = &bt_hci_ipc0;
		nordic,802154-spinel-ipc = &ipc0;
		zephyr,ieee802154 = &ieee802154;
	};

	// TODO: Do we need to forward any GPIOs to the net core?
	// gpio_fwd: nrf-gpio-forwarder {
	// 	compatible = "nordic,nrf-gpio-forwarder";
	// 	status = "okay";
	// 	uart {
	// 		gpios = <&gpio1 1 0>, <&gpio1 0 0>, <&gpio0 11 0>, <&gpio0 10 0>;
	// 	};
	// };

	sdi12_gpios: sdi12-gpios {
		compatible = "sdi12-gpios";
		not-space-gpio = <&gpio0 15 GPIO_ACTIVE_LOW>;   // ~SPACE
		tx-en-gpio = <&gpio0 14 GPIO_ACTIVE_HIGH>;      // TX_EN
		rx-en-gpio = <&gpio0 17 GPIO_ACTIVE_HIGH>;      // RX_EN
	};

	ls_12v: load_switch_12v {
		compatible = "load-switch";
		gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;

	};
};

&vregmain {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&vregradio {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&vregh {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

rs232_uart: &uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

rs485_uart: &uart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-1 = <&uart1_sleep>;
	pinctrl-names = "default", "sleep";
};

sdi12_uart: &uart2 {
	status = "okay";
	current-speed = <1200>;
	parity = "even";
	stop-bits = "1";
	data-bits = <7>;
	pinctrl-0 = <&uart2_default>;
	pinctrl-1 = <&uart2_sleep>;
	pinctrl-names = "default", "sleep";
};

icmp_uart: &uart3 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart3_default>;
	pinctrl-1 = <&uart3_sleep>;
	pinctrl-names = "default", "sleep";
};


mcu_spi: &spi3 {
	compatible = "nordic,nrf-spis";
	status = "disabled";
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";
	def-char = <0x00>;
};

&ieee802154 {
	status = "okay";
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

/* Include default memory partition configuration file */
#include <common/nordic/nrf5340_cpuapp_partition.dtsi>
